body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

div {
  width: 300px;
  height: 30px;
  background-color: #9cf;
  border: 1px solid #333;
  margin: 4em auto;
}

div:first-of-type {
  transition: width 5s;
}

div:first-of-type:hover {
  width: 800px;
}

div:nth-of-type(2):hover {
  transition: background-color 3s;
  background-color: yellow;
}

div:nth-of-type(3):hover {
  transition: transform 3s linear 2s;
  transform: translate(500px);
}
