body {
  color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
p {
  color: blue;
}
.paragraf {
  color: red;
}
#paragraf {
  color: aliceblue;
}
